<script lang="ts" setup>
import { ref } from "vue";
const img = ref([
  { id: 1, name: "Angry", color: false, src: "feeling_imgs/angry.png" },
  { id: 2, name: "Cute", color: false, src: "feeling_imgs/cute.png" },
  { id: 3, name: "Excited", color: false, src: "feeling_imgs/excited.png" },
  { id: 4, name: "Pain", color: false, src: "feeling_imgs/pain.png" },
  { id: 5, name: "Shocked", color: false, src: "feeling_imgs/shocked.png" },
  { id: 6, name: "Smile", color: true, src: "feeling_imgs/smile.png" },
]);
const showimg = ref("feeling_imgs/smile.png");
const textfeel = ref("smile");
const clickbtn = (item: { name: string; src: string; color: boolean }) => {
  refreshcolorbtn();
  showimg.value = item.src;
  textfeel.value = item.name;
  if (item.color === true) {
    item.color = true;
  } else {
    item.color = !item.color;
  }
};
const refreshcolorbtn = () => {
  img.value.forEach((item) => (item.color = false));
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img style="margin-right: 10%; margin-top: 7%" :src="showimg"></v-img>
      </v-col>
      <v-col cols="6">
        <v-row>
          <v-col style="margin-left: 44%">{{ textfeel }}</v-col>
        </v-row>
        <v-row v-for="item in img" :key="item.id">
          <v-btn
            class="btn"
            :class="{ bgwhite: item.color, bgyellow: item.color }"
            @click="clickbtn(item)"
            >{{ item.name }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btn {
  width: 800px;
  margin-top: 16px;
}
.bgwhite {
  background-color: white;
}

.bgyellow {
  background-color: yellow;
}
</style>
