<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const orderList = ref<{ id: number; name: string; price: number }[]>([]);
const addPro = (item: { id: number; name: string; price: number }) => {
  orderList.value.push(item);
};
const sumPrice = computed(function () {
  return orderList.value.reduce((sum, item) => sum + item.price, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container class="fullcon" fluid style="overflow-y: auto">
          <v-row>
            <v-col v-for="item of products" :key="item.id">
              <v-card width="150px" align="center">
                <v-card-item class="justify-center">
                  <v-card-title>{{ item.name }}</v-card-title>
                  <v-card-text>{{ item.price }}</v-card-text>
                </v-card-item>
                <v-card-actions class="justify-center">
                  <v-btn variant="outlined" @click="addPro(item)"> Add </v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container class="fullcon2" fluid style="overflow-y: auto">
          <v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="orderList.length === 0">
                <th colspan="12" style="text-align: center">NO Data</th>
              </tr>
              <tr v-else v-for="(item, index) of orderList" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <h1 style="align-self: flex-end" class="mt-5">Sum: {{ sumPrice }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.fullcon {
  width: 100%;
  height: 85vh;
}
.fullcon2 {
  width: 100%;
  height: 75vh;
}
</style>
