<script lang="ts" setup>
import { ref } from "vue";
const number = ref(0);
const numList = ref<number[]>([]);
const enternumber = (number: number) => {
  numList.value.splice(0, numList.value.length);
  for (let i = 1; i <= number; i++) {
    numList.value.push(i);
  }
};
</script>
<template>
  <v-containner
    ><v-form>
      <v-text-field
        v-model="number"
        :rules="[(v) => !!v || 'Number is not empty!!']"
        label="Pleas Input Number"
        class="textf"
        required
        :oninput="enternumber(number)"
        filled
        clearable
      ></v-text-field>
    </v-form>
    <v-row>
      <v-col cols="12" md="1" v-for="item in numList" :key="item">{{
        item
      }}</v-col></v-row
    >
  </v-containner>
</template>
<style scoped>
.textf {
  margin-left: 9px;
  width: 800px;
}
</style>
